@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700;900&display=swap');

.body {
  font-family: 'Roboto';
}

.has-background {
  background: #013e01;
}

.color-green {
  color: #013e01;
}

.mySlides {
  display: none;
}

div.gallery {
  border-radius: 10px;
  margin: 5px;
  float: left;
  width: 300px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  text-align: left;
}

.footer {
  background: #000000;
}